<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <img src="blog.svg" style="height: 2.2rem;">
      </a>
      <span class="mb-3 mb-md-0">© <%= new Date().getFullYear() %> Blogging, <i><b>~Yug Shah</b></i></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/yugshah7777/" aria-label="Instagram"><img src="instagram.svg" style="height: 2rem;"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/yugshah7777/" aria-label="Linked-in"><img src="linkedin.svg" style="height: 2rem;"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/yugshah7777" aria-label="Git-Hub"><img src="github.svg" style="height: 2rem;"></a></li>
    </ul>
  </footer>
</body>
</html>